@import '../../../styles/variables.scss';

.logo {
  display: block;
  font-size: 2rem;
  padding: {
    bottom: 0.5rem;
    top: 0.5rem;
  }
  text-decoration: none;

  &__caret {
    color: $white;
  }

  &__name {
    color: #ee8572;
  }
}
