@import '../../../styles/variables.scss';

.navbar {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    padding: .5rem;
    padding-left: 0;
    
    &--hidden {
      display: none;
    }
  }
  
  &__list-link {
    color: $white;
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
  }
}
