@import '../../../styles/variables.scss';
@import '../../../styles/tools/mixins.scss';

.container {
  margin: auto;
  max-width: 1280px;
  padding: {
    left: 1rem;
    right: 1rem;
  }

  &--full-in-mobile {
    @include media(phone-only) {
      padding: {
        left: 0;
        right: 0;
      }
    }
  }
}
