@import '../../../styles/variables.scss';

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    flex: 1;
    // TODO: Remove temporal style
    background-color: $oracle;
  }
}
