@import '../../../styles/variables.scss';
@import '../../../styles/tools/mixins.scss';

.cv {
  display: flex;
  overflow: hidden;

  @include media(phone-only) {    
    flex-direction: column; 
  }
  
  &__left-column,
  &__right-column {
    padding: 1rem;
    padding-top: 5rem;
  }

  &__left-column {
    width: 30%;
    background-color: $pickled-bluewood;
    position: relative;

    @include media(phone-only) {    
      width: 100%;
    }
  }
  
  &__left-column-content {
    position: relative;
    z-index: 1;
  }

  &__right-column {
    background-color: #f1f1f1;
    color: $cyprus;
    width: 70%;

    @include media(phone-only) {
      padding-top: 1rem;    
      width: 100%;
    }
  }

  &__avatar {
    display: block;
    margin: auto;
  }

  &__name,
  &__title {
    text-align: center;
  }

  &__name {
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  
  &__title {
    font-size: 1.25rem;
  }

  &__section-title {
    border-bottom: 1px solid $white;
    padding-bottom: 0.1875rem;
    font-size: 1.25rem;

    &--inverted {
      border-color: $pickled-bluewood;
      color: $pickled-bluewood;
    }
  }

  &__default-list {
    &, ul {
      padding: 0;
      list-style: none;
    }

    li {
      position: relative;
      padding-left: 1rem;

      &:after {
        content: "*";
        left: 0;
        line-height: 1;
        position: absolute;
        top: .25rem;
      }
    }

    ul li {
      &::after {
        content: "-"
      }
    }
  }

  &__workExperience-item {
    margin-bottom: 1rem;
  }

  &__workExperience-header,
  &__education-item {
    display: flex;
    justify-content: space-between;
  }

  &__skills {
    padding: 0;
    
    &-item {
      display: inline-block;
      padding: .5rem;
      margin: .25rem;
      background-color: $tradewind;
      color: $white;
    }
  }

  &__language-item {
    padding: 0 0 .5rem;
  }

  &__courses {
    padding: 0;
    
    &-item {
      display: inline-block;
      background-color: $tradewind;
      margin: .25rem;

      &:hover {
        background-color: $oracle;
      }
    }
    
    &-link {
      color: $white;
      display: block;
      padding: .5rem;
      text-decoration: none;

    }
  }
  
  &__separator {
    margin: 0 .5rem;
  }

  /* 
   * The `html-pdf` lib has some issues with flexbox,
   * so `float: left` and `position: absolute` are just workarounds. 
   */
  &--pdf {
    position: relative;

    .avatar {
      height: 100px;
      width: 100px;
    }

    .cv__left-column,
    .cv__right-column {
      padding-top: 2rem;
    }
    
    .cv__left-column {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
    
    .cv__right-column {
      margin-left: 30%;
    }

    .social-links__link--column {
      display: block;
      overflow: hidden;
    }

    .social-links__icon--column,
    .social-links__label--column {
      float: left;
    }
  }

  .cv__workExperience-header,
  .cv__education-item {
    overflow: hidden;
  }

  .cv__workExperience-left,
  .cv__education-left {
    float: left;
  }

  .cv__workExperience-right,
  .cv__education-right {
    float: right;
  }
}

.cv__header {
  background-color: $cyprus;
}