@import '../../../styles/variables.scss';

.header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  transition: background-color .5s;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &--compact {
    background-color: $cyprus;

    .navbar__list-link {
      font-size: 0.875rem;
    }

    .logo {
      font-size: 1.5rem;
    }
  }
}
