@import '../../../styles/variables.scss';

.animation-pulse {
  animation: animation-pulse 1.5s infinite;
  display: inline-flex;
  transform: scale(1);
}

@keyframes animation-pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
