.logo {
  display: block;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-decoration: none;
  transition: font-size 0.5s ease-in-out;

}

.caret {
  color: var(--white);
}

.name {
  color: #ee8572;
}
