@import '../../../styles/common.scss';

.header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
