@import '../../../styles/variables.scss';

.footer {
  background-color: $cyprus;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-size: 1.5rem;
  }
}
