@import '../../../styles/variables.scss';

.pulse {
  animation: pulse 1.5s infinite;
  display: inline-flex;
  transform: scale(1);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
