@import '../../../styles/variables.scss';

// TODO: Remove magic numbers
.switch {
  display: flex;
  align-items: center;

  	&__text {
      margin-right: .5rem;
      font-size: 1rem;
      color:$black;
    }
    
  &__inner-wrapper {
    position: relative;
    top: 0;
    right: 0;
  }
  
  &__input  {
    position: absolute;
    opacity: 0;
  }
  
  &__input + div {
    vertical-align: middle;
    width: 20px;
    height: 10px;
    border-radius: 999px;
    background-color: $tower-gray;
    transition-duration: .4s;
    transition-property: background-color, box-shadow;
    cursor: pointer;
  }
  
  &__input:checked + div {
    width: 37px;
    background-position: 0 0;
    background-color: $tower-gray;
  }
  
  &__input + div {
    width: 37px;
    height: 22px;
  }
  
  &__input:checked + div {
    background-color: $cyprus;
  }
  
  &__input + div > div {
    float: left;
    width: 20px; height: 20px;
    border-radius: inherit;
    background: $white;
    transition-timing-function: cubic-bezier(1,0,0,1);
    transition-duration: 0.4s;
    transition-property: transform, background-color;
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
  }
  
  &__input:checked + div > div {
    transform: translate3d(15px, 0, 0);
    background-color: $white;
  }
}

